@import url(null.css);
/* zeroing */

/* settings ================================================== */

:root {
  --cream: #f9f6f1;
  --accent: #d7b399;
  --black: #212121;
}

html {
  font-size: 14px;
}
body {
  font-family: "Monsterrat", "Segoe UI", "Arial", sans-serif;
  color: #fff;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.case {
  max-width: 1110px;
  margin: 0 auto;
}

/* settings ================================================== */

/* header ================================================== */

.header {
  background: var(--cream);
  color: #000;
}
.header-flex {
  display: flex;
  flex-direction: column;
}
.menu {
}
.nav {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-logo__text {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0 0 0 20px;
}
.nav__link {
}
.main-footer-info-up {
}
.main-footer__title {
}
.basket-block {
}
.shape {
}

/* header ================================================== */

/* main ================================================== */

/* gift */

.gift {
  background: var(--black);
}
.gift-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 0 70px 0;
}
.gift-title {
  font-weight: 700;
  font-size: 2.15rem;
  display: flex;
  text-transform: uppercase;
}
.sum {
  font-weight: 400;
  display: inline;
  margin-left: 10px;
}
.gift__text {
  margin: 20px 0 0 0;
}

@media screen and (max-width: 768px) {
  .gift-title {
    flex-direction: column;
    text-align: center;
  }
}

/* gift */

/* colects */

.colects {
  color: #000;
}
.colects-grid {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
}
.man {
  background: var(--cream) url(../img/man.png) no-repeat 45% 100%;
  height: 250px;
  display: flex;
  justify-content: flex-end;
  padding: 35px;
}
.man-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.colects__title {
  font-size: 1.715rem;
  font-weight: 300;
  text-transform: uppercase;
}
.colects__title span {
  font-weight: 500;
}
.colects__text {
  font-weight: 300;
  font-size: 1.15rem;
}
.colects__but {
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent);
}
.woman {
  background: #f4f4f4 url(../img/woman.png) no-repeat 44% 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  padding: 35px;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .colects-grid {
    grid-template: 1fr 1fr / 1fr;
  }

  .man {
    background: var(--cream) url(../img/man.png) no-repeat 95% 100%;
    justify-content: flex-start;
  }
  .woman {
    background: #f4f4f4 url(../img/woman.png) no-repeat 95% 100%;
  }
  .colects__text {
    font-weight: 500;
  }
}

/* colects */



/* categories */

.categories {
}
.categories-grid {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}
.category {
  width: 280px;
  height: 240px;
  padding: 24px 30px;
  background: var(--cream) url(../img/t-shirt.png) no-repeat 0 100%;
  display: flex;
  align-items: flex-end;
}
.category__name {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #000;
}
.categories__mobile {
  color: #000;
  text-align: center;
  font-size: 1.5rem;
  padding: 20px 0;
  text-decoration: underline;
  background: var(--accent);

  display: none;
}

@media screen and (max-width: 1024px) {

  .category {
    width: auto;
    height: 180px;
    background: var(--cream) url(../img/t-shirt.png) no-repeat 100% 100%;
    background-size: 90%;
  }
}


@media screen and (max-width: 768px) {

  .category {
    display: none;
  }
  .categories__mobile {
    display: block;
  }

}



/* categories */


/* models */

.models {
  margin: 150px 0;
  color: #000;
}
.models-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.models__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
}
.models-grid {
  margin: 100px 0;
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  grid-gap: 30px;

  transition: all 300ms ease;
}
.model {
  text-align: center;
  padding: 25px;
  position: relative;
  width: 255px;
  height: 350px;
}

.tl {
  height: 25px;
  width: 25px;
  border-top: 3px solid var(--accent);
  border-left: 3px solid var(--accent);
  top: 0;
  left: 0;
}
.tr {
  height: 25px;
  width: 25px;
  border-top: 3px solid var(--accent);
  border-right: 3px solid var(--accent);
  top: 0;
  right: 0;
}
.bl {
  height: 25px;
  width: 25px;
  border-bottom: 3px solid var(--accent);
  border-left: 3px solid var(--accent);
  bottom: 0;
  left: 0;
}
.br {
  height: 25px;
  width: 25px;
  border-bottom: 3px solid var(--accent);
  border-right: 3px solid var(--accent);
  bottom: 0;
  right: 0;
}
.ang {
  position: absolute;
}

.model__name {
  margin: 25px 0 15px 0;
  font-weight: 600;
}
.model__price {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--accent);
}
.all-models {
  width: 220px;
  height: 55px;
  background: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-modeld__text {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.15rem;
  color: #fff;
  margin-right: 10px;
}

.l-arrow {
  height: 45px;
  width: 45px;
  background: var(--accent) url(../img/arrow.svg) no-repeat 50%;
  transform: rotate(180deg);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  z-index: 100;
}

.r-arrow {
  height: 45px;
  width: 45px;
  right: 0;
  background: var(--accent) url(../img/arrow.svg) no-repeat 50%;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  z-index: 100;
}



@media screen and (max-width: 768px) {

  .models-flex {
    position: relative;
  }

  .models-window {
    overflow: hidden;
    width: 350px;
    padding: 0 10px 0 5px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .model {
    margin: 0 45px;
  }
  .models-grid {
    left: 0;
  }

}






/* models */


/* discounts */

.discounts {
  background: var(--black);
}
.discounts-flex {
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
}
.discount__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.15rem;
}
#discount__input {
  width: 255px;
  height: 40px;
  padding: 10px 10px;
  background: var(--cream);
  font-size: 1.2rem;
}
.discount__button {
  background: var(--accent);
  color: #fff;  
  width: 185px;
  height: 40px;
  margin: 0 0 0 35px;
  text-transform: uppercase;
  cursor: pointer;
}


@media screen and (max-width: 768px) {

  .discounts-flex {
    flex-direction: column;
    align-items: center;
  }
  .discount__title {
    text-align: center;
  }
  .discounts__form {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .discount__button {
    margin: 20px 0 0 0;
  }

}




/* discounts */







/* main ================================================== */

/* footer ================================================== */

.main-footer {
  background: var(--black);
}
.main-footer-flex {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
}
.main-footer-info {
  width: 200px;
}
.main-footer-info-up {
  display: flex;
  margin: 0 0 32px 0;
}
.main-footer__title {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0 0 0 20px;
}
.main-footer-lists {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr 1fr;
}
.main-footer-list {
  margin: 0 0 0 85px;
}
.main-footer-list__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
}
.main-footer-link {
  margin: 10px 0 0 0;
  color: #cbcfd4;
  display: block;
}
.main-footer-link:hover {
  text-decoration: underline;
}
.main-footer-link_vk {
  background: url(../img/soc3.svg) no-repeat 0 50%;
  padding: 0 0 0 24px;
}
.main-footer-link_fb {
  background: url(../img/soc1.svg) no-repeat 0 50%;
  padding: 0 0 0 24px;
}
.main-footer-link_inst {
  background: url(../img/soc2.svg) no-repeat 0 50%;
  padding: 0 0 0 24px;
}

/* --- */

.under-footer {
  background: #fff;
  color: #000;
}
.under-footer-flex {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .main-footer-flex {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
  .main-footer-info {
    margin: 0 0 40px 0;
  }
  .main-footer-lists {
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
  }
  .main-footer-list {
    margin: 0 0 40px;
    font-size: 1.5rem;
  }

  .under-footer {
    background: var(--black);
    color: #fff;
  }
  .under-footer-flex {
    height: inherit;
    padding: 10px 0;
    flex-direction: column;
    justify-content: start;
  }
}

/* footer ================================================== */
